<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <sectionGroup name="Localization">
      <section name="Localization" type="Localization.LocalizationConfigurationHandler, Localization" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PORT" value="80" />
    <add key="SMTP" value="smtpout.asia.secureserver.net" />
    <add key="FROMEMAIL" value="sales@leaebook.com" />
    <add key="FROMPWD" value="reset123" />
    <add key="SiteUrl" value="http://test.leaebook.com/" />
    <add key="SiteUrlMain" value="http://test.leaebook.com/" />
    <add key="ApiKey" value="AIzaSyDhlBKfQ9axUBtdiJONeUTwUqGb6NfqBLM" />
    <add key="PushSenderID" value="941848616535" />
    <add key="EmailTemplate" value="../EmailFormats/" />
    <!--<add key="ConnectionString" value="Data Source=97.74.85.95;Initial Catalog=ssdb;Persist Security Info=True;User ID=sa;Password=Vrin@212-"/>-->
    <!--<add key="ConnectionString" value="Data Source=103.8.25.142;Initial Catalog=SonicVrinDB;Persist Security Info=True;User ID=SonicVrinDB;Password=SonicVrinDB"/>-->
    <!--<add key="ConnectionString" value="Data Source=182.50.141.88;Initial Catalog=LeaeBookdev;Persist Security Info=True;User ID=VrinUser;Password=Vrin@123;" />-->
    <!--<add key="ConnectionString" value="Data Source=97.74.237.201;Initial Catalog=LeaeBookdev;Persist Security Info=True;User ID=sa;Password=Vrin@123;" />-->
    <add key="ConnectionString" value="Data Source=192.168.1.83;Initial Catalog=LeaeBookdev;Persist Security Info=True;User ID=sa;Password=Vrin@123;" />
    <add key="EnableSqlDependency" value="true" />
    <add key="ApplicationId" value="741235135905751" />
    <add key="ApplicationUrl" value="http:\\www.themagz.net" />
    <!--<add key="ApiKey" value="" />-->
    <add key="ApplicationSecret" value="d1552e5acbb2b9c6e9f25e8cf7929d8a" />
    <add key="ExtendedPermissions" value="offline_access" />
  </appSettings>
  <system.web>

    <urlMappings enabled="true">
      <add url="~/us/about-us" mappedUrl="~/CMS_Content.aspx?id=2&amp;l=en-US"/>
      <add url="~/about-us" mappedUrl="~/CMS_Content.aspx?id=2&amp;l=es-ES"/>
      <add url="~/us/what-we-do" mappedUrl="~/CMS_Content.aspx?id=24&amp;l=en-US"/>
      <add url="~/what-we-do" mappedUrl="~/CMS_Content.aspx?id=24&amp;l=es-ES"/>
      <add url="~/us/contact-us" mappedUrl="~/ContactUs.aspx?l=en-US"/>
      <add url="~/contact-us" mappedUrl="~/ContactUs.aspx?l=es-ES"/>
      <add url="~/us/sitemap" mappedUrl="~/CMS_Content.aspx?id=14&amp;l=en-US"/>
      <add url="~/sitemap" mappedUrl="~/CMS_Content.aspx?id=14&amp;l=es-ES"/>
      <add url="~/us/delivery-information" mappedUrl="~/CMS_Content.aspx?id=21&amp;l=en-US"/>
      <add url="~/delivery-information" mappedUrl="~/CMS_Content.aspx?id=21&amp;l=es-ES"/>
      <add url="~/us/privacy-policy" mappedUrl="~/CMS_Content.aspx?id=10&amp;l=en-US"/>
      <add url="~/privacy-policy" mappedUrl="~/CMS_Content.aspx?id=10&amp;l=es-ES"/>
      <add url="~/us/terms" mappedUrl="~/CMS_Content.aspx?id=5&amp;l=en-US"/>
      <add url="~/terms" mappedUrl="~/CMS_Content.aspx?id=5&amp;l=es-ES"/>
      <add url="~/us/refund-policy" mappedUrl="~/CMS_Content.aspx?id=27&amp;l=en-US"/>
      <add url="~/refund-policy" mappedUrl="~/CMS_Content.aspx?id=27&amp;l=es-ES"/>
      <add url="~/us/latest-news" mappedUrl="~/CMS_Content.aspx?id=22&amp;l=en-US"/>
      <add url="~/latest-news" mappedUrl="~/CMS_Content.aspx?id=22&amp;l=es-ES"/>
      <add url="~/us/unsubscribe" mappedUrl="~/CMS_Content.aspx?id=23&amp;l=en-US"/>
      <add url="~/unsubscribe" mappedUrl="~/CMS_Content.aspx?id=23&amp;l=es-ES"/>
      <add url="~/us/blog" mappedUrl="~/Blog.aspx?l=en-US"/>
      <add url="~/blog" mappedUrl="~/Blog.aspx?l=es-ES"/>
      <!--<add url="~/us/special-offer" mappedUrl="~/Special-Offer.aspx?l=es-US"/>
      <add url="~/special-offer" mappedUrl="~/Special-Offer.aspx?l=es-ES"/>-->
    </urlMappings>

    <!--<httpRuntime executionTimeout="100000" maxRequestLength="214748364" />-->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
      <add name="Localization" type="Localization.LocalizationHttpModule, Localization" />
    </httpModules>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="Localized" assembly="Localization" namespace="Localization" />
      </controls>
    </pages>
    <!--<httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestLengthDiskThreshold="1048576000"/>-->
    <!--<httpRuntime executionTimeout="200000" maxRequestLength="1048576"/>-->
    <!--<httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="200000" />-->
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="153600" />
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <!--<globalization culture="auto:es-ES" uiCulture="en-US" />-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="es-ES" />-->
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <!--<defaultDocument>
      <files>
        <clear />
        <add value="maintanance.html" />
      </files>
    </defaultDocument>-->
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <!--<modules  runAllManagedModulesForAllRequests="true" >
			<add name="Localization" type="Localization" />
		</modules>-->
    <handlers>
      <add name="ScriptHandlerFactory" path="*.ascx" verb="*" type="System.Web.UI.PageHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />

      <add name="Localization" path="Localization.dll" verb="*" type="" modules="Localization" scriptProcessor="" resourceType="File" requireAccess="Execute" allowPathInfo="true" preCondition="" responseBufferLimit="4194304" />

      <add name="ScriptHandlerFactoryAppServices" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="ScriptResource" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Plesk_Handler_01834376" path="*.asp" verb="GET,HEAD,POST,TRACE" type="" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="4194304" />
      <add name="Python-py" path="*.py" verb="*" type="" modules="CgiModule" scriptProcessor="C:\Program Files (x86)\Parallels\Plesk\Additional\Python\python.exe -u &quot;%s&quot; %s" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />

    </handlers>
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="524288000"/>-->
        <!--<requestLimits maxAllowedContentLength="2147483648" />-->
        <requestLimits maxAllowedContentLength="157386400" />
        <!--<requestLimits maxAllowedContentLength="2000000000"/>-->
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".dmg" mimeType="file/download" />
      <!--<clientCache cacheControlCustom="public" cacheControlMode="UseExpires" httpExpires="1.00:00:00" />-->
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
  </system.webServer>
  <rewriter />
  <Localization>
    <Localization defaultCulture="es-ES" imagePath="/TestMultiLangApp/images" providerName="SqlLocalizationProvider">
      <Provider>
        <add name="XmlLocalizationProvider" type="Localization.ResourceManagerXml, Localization" languageFilePath="\Languages" />
        <!--<add name="SqlLocalizationProvider" type="Localization.ResourceManagerSql, Localization" connectionString="Data Source=97.74.237.201;Initial Catalog=LeaeBookdev;Persist Security Info=True;User ID=sa;Password=Vrin@123;" cacheDuration="20" />-->
        <add name="SqlLocalizationProvider" type="Localization.ResourceManagerSql, Localization" connectionString="Data Source=192.168.1.83;Initial Catalog=LeaeBookdev;Persist Security Info=True;User ID=sa;Password=Vrin@123;" cacheDuration="20" />
        <!--<add name="SqlLocalizationProvider" type="Localization.ResourceManagerSql, Localization" connectionString="Data Source=182.50.141.88;Initial Catalog=LeaeBookdev;Persist Security Info=True;User ID=VrinUser;Password=Vrin@123;" cacheDuration="20" />-->
        <!--<add name="SqlLocalizationProvider" type="Localization.ResourceManagerSql, Localization" connectionString="Data Source=182.50.141.88;Initial Catalog=LocalizationSample;Persist Security Info=True;User ID=VrinUser;Password=Vrin@123;" cacheDuration="20"/>-->
      </Provider>
    </Localization>
  </Localization>
</configuration>