body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#101010; background:url(../images/main-bg.png) left top repeat-x #ffffff;}

img{ border:none;}
a{ outline:none;}

div,ul,li,ol,h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; }
h3{float:left; font-family:Arial, Helvetica, sans-serif; font-size:25px; color:#3c9f01; text-transform:uppercase;}
.spacer10{float:left; padding:10px; display:block;}
.spacer20{float:left; padding:20px; display:block;}
.divClear{margin:0; padding:0; clear:both;}
.main{ width:100%; float:left;}

.container{ width:1000px; margin:0 auto;    }

.header_main{ width:957px; float:left; padding:11px 18px 0; *padding:11px 18px 15px 0; background:url(../images/header-bg4.png) left 4px no-repeat;}

.logo{ width:auto; float:left; margin:0 0 0 25px;}

.cear{ clear:both;}
.top_right{ width:auto; float:right;}
.top_right .top_form{ width:auto; float:right; }
.top_right label{ text-transform:uppercase; color:#ffffff; float:left; padding:1px 6px 0 0;	}
.top_right select{ background:transparent; color:#d2d2d2; font-size:10px; border:none; width:131px;}
.select_main{  width:113px; float:left;  margin:0 3px 0 0;}
.search_main{ width:323px; height:48px; float:right; background:url(../images/search-bg.png) left top no-repeat; margin:20px -7px 0 0;}
.top_input{ background: none repeat scroll 0 0 transparent; border: medium none; color: #8DBA67; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin: 17px 0 0 18px; text-transform: uppercase; width: 240px;}
.top_btn{ background: none repeat scroll 0 0 transparent; border: medium none; color: #8DBA67; float: left; font-size: 15px; font-weight: bold; margin: 14px 0 0 10px; text-transform: uppercase; cursor:pointer; }


/*
----------------------------menu*/
.navigation{ width:957px; height:42px; float:left; background:url(../images/nav-bg.png) left top no-repeat; margin:14px 0 0 0;  * margin:12px 0 0 0;}
.navigation ul{ list-style:none; float:left; width:62%; }
.navigation ul li{ float:left; padding:9px 7px 0 13px;  }
.navigation ul li span{ float:left; height:24px; width:14px; }
.navigation li a{ text-decoration:none; color:#102502; text-transform:uppercase; float:left; padding:0 15px 0 0; height:24px; line-height:27px;  }
.navigation ul li:hover span, .navigation ul li span.active{ background:url(../images/menu-hover.png) left top no-repeat; }
.navigation ul li:hover a, .navigation li a.active{background:url(../images/menu-hover.png) right top no-repeat; }

.right_login{ width:auto; float:left; padding:0 2px 0 0;}
.right_login a{ color: #FFFFFF; float: left; font-size: 14px; line-height: 44px; margin: 0 4px; text-decoration: none; text-transform: uppercase;}

.right_login ul{list-style-type:none; width:300px; margin:0 0 0 25px; position:relative; left:70px; top:-10px; }
.right_login ul li{float:left; margin:0; padding:20px 0 20px 0; width:70px;}
.right_login ul li ul{display:none;}
.right_login li a{float:left; color:#ffffff; background:none !important;}
.right_login li a:focus{float:left; color:#CCCCCC;}
.right_login ul li:hover > ul {display:block;}
.right_login ul li ul{float:left; position:relative; left:-407px; top:-33px; z-index:1000;}

/*
-------------------slider*/
.slide_main_bg{ background:url(../images/banner-bg.png) center top no-repeat;}
.slider{ width:100%; float:left; margin:3px 0 0 0; position:relative;}
.slide_main{ width:100%; float:left; list-style:none;}
.slide_main li{ width:100%; float:left; background:url(../images/slide-1.png) left top no-repeat; height:338px;	}
.slide_main li h2{ font-size:30px; text-transform:uppercase; color:#3c9f01; line-height:36px; font-weight:normal; margin:68px 0 0 43px;}
.slide_main li h1{ font-size:45px; text-transform:uppercase; color:#1e4502; line-height:45px; font-weight:normal; margin:0 0 0 41px;} 
.slide_main li p{ font-size:14px; color:#7f7f7f; padding:26px 0 0 43px;}
.slide_main li .view_all{ float:left; margin:34px 0 0 41px;}

.slide-left{ position:absolute; top:168px; left:0;}
.slide-right{ position:absolute; top:168px; right:0;}


/*
-----------------------------*/


.high_lights_row{ width:100%; float:left; height:200px; background:url(../images/slider-below.png) left top no-repeat;}
.high_li_part1{ width:293px; float:left; background:url(../images/slider-below-border.png) right top no-repeat; padding:9px 20px 0; min-height:125px;	}
.high_li_part1.last{ background:none;}
.high_li_part1 img.align{ float:left; margin:0 20px 0 0;  }
.high_li_part1 img.align1{ margin:14px 20px 0 0;  }
.high_link{ float:left; font-size:15px; color:#4ba808; text-transform:uppercase; text-decoration:none; margin:9px 0 0 0;}
.high_li_part1 p{ color: #000000; float: left; margin: 15px 0 0; text-transform: uppercase; width: 59%; height:52px; overflow:hidden;}
.high_li_part1100{ width:450px; float:left; background:url(../images/slider-below-border.png) right top no-repeat; padding:9px 20px 0; min-height:125px;	}
.high_li_part1200{ width:450px; float:left;  padding:9px 20px 0; min-height:125px;	}


/*
-----------------------contant*/

.contant{ width:100%; float:left; margin:30px 0 0;}

.contant_left{ width:725px; float:left;}
.row1{ width:100%; float:left;}
.row2{ width:100%; float:left; margin:22px 0 0;}
.contant h1{  font-size:22px; color:#53ac0b; border-bottom:2px solid #6d6d6d; padding:0 0 5px 0; margin:0 0 15px; font-weight:normal;}

.mag_list{ width:100%; float:left; border-bottom:3px solid #d6d6d6; padding:0 0 20px 0;}
.mag_list li{ float: left; list-style: none outside none;  margin: 0 50px 0 0;  width: 208px;}
.mag_list li.last{ margin:0;}
.mag_name{ width:100%; float:left; font-size:13px; font-weight:bold; color:#53ac0b; text-transform:uppercase; text-decoration:none; border-top:3px solid #eaeaea; padding:10px 0 0 8px;}
.mag_img{ float:left; margin:0 0 18px; width:205px; border:1px solid #ffffff; }
.mag_list li p{ color:#101010; float:left; width:100%; padding:16px 0 0 8px;}
.detail{ width:65px; height:30px; float:left; background:url(../images/mag-btn-normal.png) left top no-repeat; border:none; cursor:pointer; margin:20px 0 0 4px;}
.mag_list li:hover .mag_img{ border:1px solid #f1ff66}
.mag_list li:hover .mag_name{ border-top:3px solid #53ac0b;}
.mag_list li:hover .detail{ background:url(../images/mag-btn-hover.png) left top no-repeat;}

.article_main{ width:100%; float:left; background:#eaeaea;}

.article_box1{ float: left; padding: 17px 8px 17px 17px; width: 338px;}
.article_box2{  border-left: 1px solid #A8A8A8; margin: 17px 0; padding: 0 0 0 17px;}
.article{ float:left; margin:0 15px 0 0;}
.article_box1 .text1{ width:160px; float:left; color:#000000;}
.article_box1 .text2{ width:160px; float:left; color:#53ac0b; font-size:14px; margin:5px 0;}
.article_box1 .text3{ width:160px; float:left; font-size:11px; color:#666666; line-height:15px;}




/*
---------------------right panle*/
.contant_right{ float: left; margin: 0 0 0 25px; width: 241px;}
.right_cart_box{ width:100%; float:left; background:url(../images/my-cart-midd.png) left top repeat-y;}
.right_cart_box h6{ background:url(../images/my-cart-tab.png) left top no-repeat; font-size:14px; color:#ffffff; text-transform:uppercase; padding:13px 19px 13px;	}
.right_cart_box p{ font-size:13	px; color:#ffffff; padding:20px; font-weight:bold;	}


.right_populer_box{ width:100%; float:left; background:url(../images/populer-tag-midd.png) left top repeat-y; margin:30px 0 0;}
.right_populer_box h6{ background:url(../images/populer-tag-tab.png) left top no-repeat; font-size:14px; color:#515151; text-transform:uppercase; padding:13px 19px 13px;	}
.right_populer_box p{ font-size:13px; color:#515151; padding:20px; 	}
.right_populer_box a{ color:#515151; text-decoration:none; margin:0 14px 0 0;}
.right_populer_box a.tag1{ font-size:17px; }
.right_populer_box a.tag2{ font-size:13px; }
.right_populer_box a.tag3{ font-size:16px; }
.right_populer_box a.tag4{ font-size:12px; }
.right_populer_box a.tag5{ font-size:17px; }
.right_populer_box a.tag6{ font-size:22px; }
.right_populer_box a.tag7{  color: #888787; float: left; font-size: 14px; margin: 10px 0 9px;}

.right_social{ width:100%; float:left; margin:30px 0 0 0;}
.right_social a{ float:left; margin:0 10px 0 0;}

.right_specials{ width:100%; float:left; margin:36px 0 0; position:relative;}
.up{ position:absolute; right:0; top:-6px;}
.down{ position:absolute; right:33px; top:-6px;}



.right_specials ul{ list-style:none; width:100%; float:left;}
.right_specials ul li{ list-style:none; width:100%; float:left; border-bottom:3px dotted #9f9f9f; padding:0 0 18px; margin:0 0 18px;}
.right_specials ul li .spcial-mag{ float:left; margin:0 7px 0 0;}
.right_specials ul li .titel{ float:left; font-size:13px; color:#101010; text-transform:uppercase; font-weight:bold; width:63%; }
.right_specials ul li .disc{ float:left; font-size:12px; color:#101010; width:65%; padding:10px 0; }
.right_specials ul li .link{ float:left; font-size:12px; color:#53ac0b; font-weight:bold; }





/*
-------------------footer*/
.footer_main{ width:100%; float:left; background:url(../images/footer-bg.png) left top repeat-x #484848; margin:45px 0 0; }
.f-link1{ width:250px; float:left; list-style:none;}
.f-link1 li{ width:100%; float:left;}
.f-link1 li h3{ font-size:20px; color:#53ac0b; margin:0 0 20px 0;}
.f-link1 li a{ font-size:13px; color:#ffffff; float:left; text-decoration:none; background:url(../images/f-arrow.png) left center no-repeat; margin:0 0 14px 0; padding:0 0 0 16px;  *padding:7px 0 7px 16px;}


.f-copy-right{ width:100%; float:left; background:url(../images/f-copyright.png) center top no-repeat; font-size:13px; color:#aaaaaa; text-align:center; margin:0 0 0; height:49px; line-height:49px;}
.f-copy-right div{ background:url(../images/f-copyright.png) center top no-repeat; width:1000px; margin:0 auto; }

.f-in{ width:100%; float:left; background:url(../images/footer-bg.png) left top repeat; padding:25px 0 0;}


/*-------------------------------------------------------------------------------------------------------------------------------
About Us
---------------------------------------------------------------------------------------------------------------------------------*/

.about-us{float:left; width:725px;}
.about-us p{float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; line-height:20px; width:720px; padding-bottom:10px; text-align:justify;}
.min-text{float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; line-height:20px; width:540px !important; padding-bottom:5px; text-align:justify;}
.mag-4{float:right;}

/*-------------------------------------------------------------------------------------------------------------------------------
contact Us
---------------------------------------------------------------------------------------------------------------------------------*/

.address{float:left; width:250px; padding-top:10px; padding-bottom:20px; padding-right:0px;}
.address2{float:right; width:200px; padding-top:10px; padding-bottom:20px; padding-right:0px;}
.address p span{float:left; width:250px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#333333;}
.address p{float:left; width:250px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; line-height:20px; text-align:left !important; padding:0 !important;}

.address2 p span{float:left; width:250px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#333333;}
.address2 p{float:left; width:250px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; line-height:20px; text-align:left !important ; padding:0 !important;}


.contact{float:left; width:720px; border:1px solid #edecec; background:#f3f3f3;}
.min-text-add{float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; line-height:15px; width:200px !important; padding-bottom:5px !important; text-align:justify;}
.ml{color:#3c9f01; text-decoration:none;}

.contact-form{float:left; margin:22px 0px 35px 35px; width:700px;}
.lab{color:#333333; padding:3px 0 2px 0;  float:left; width:300px; font-size:13px; font-weight:bold !important; font-family:Arial, Helvetica, sans-serif;} 
.tax-data{float:left; width:300px; padding:8px 0 8px 0; border:1px solid #cccccc;}
.text-boxes{float:left; width:350px; }
.text-a{float:left; width:300px; }
.txt-area{float:left; width:300px; background:url(../images/text-area.png) top left no-repeat; width:300px; height:160px; overflow:hidden;}
.area-box{float:left; background:transparent; border:none; outline:none; width:290px; height:145px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333333;  overflow:hidden;}

.sub{float:left; margin-top:10px; background:url(../images/submit.png) top left no-repeat; width:135px; height:43px; border:none; outline:none; cursor:pointer;}



/*-------------------------------------------------------------------------------------------------------------------------------
Login Page
---------------------------------------------------------------------------------------------------------------------------------*/

.login{float:left; background:url(../images/login-bg.png) top left repeat-x; width:445px; height:320px;}
.login-form{width:400px; margin:20px auto;}

.user-text{float:left; background:url(../images/user.png) top left no-repeat; width:400px; height:54px;}
.user{float:left; padding:0 0 0 3px;  height:54px; width:340px; border:none; outline:none; background:transparent;  *padding:15px 0 0 3px;}

.user-pass{float:left; background:url(../images/password.png) top left no-repeat; width:400px; height:54px;}
.pass{float:left; height:54px; width:340px; background:transparent; border:none; outline:none; font-size:14px !important; padding:0 0 0 3px; *padding:15px 0 0 3px;}
.login-bt{float:left; background:url(../images/login.png) top left no-repeat; width:115px; height:45px; cursor:pointer; border:none; outline:none; margin:20px 0 0 0;  padding:0 0 20px 0;}

.forgot{color:#3c9f01; float:right; margin-top:35px;}

.lab2{color:#333333; padding-bottom:5px;  font-weight:bold; padding-top:5px; float:left; width:300px; font-size:14px; font-family:Arial, Helvetica, sans-serif;} 
.chek{float:left; position:relative; top:3px;}
.cheak-box{float:left; padding:10px 0 20px 0;}

/*-------------------------------------------------------------------------------------------------------------------------------
explore Page
---------------------------------------------------------------------------------------------------------------------------------*/
.explore{float:left; width:725px; padding:20px;}
.box{float:left; width:360px;}
.box p{float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#999999; padding:5px 0 0 0; width:295px;}
.box-main{float:left; width:725px; padding:30 px 0 0 0;}
h5{float:left; width:300px; border-bottom:1px solid #3c9f01; font-weight:normal; font-size:15px; line-height:40px;}

.ml-green{float:left !important; color:#3c9f01 !important; text-decoration:none; font-style:italic; font-size:13.50px !important; width:225px !important;}
.ml-green2{float:right; color:#333333 !important; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:13.50px !important; width:85px !important;}

.big-line{float:left; padding:25px 0 25px 0;}

.example{float:left; padding-left:20px; width:500px;}
.view{float:left; padding:0 5px 0 5px;}


.explore-head{float:left; width:495px;}
.explore-gray{float:left; font-family:Arial, Helvetica, sans-serif !important;  font-size:13px !important; color:#666666 !important; text-transform:none !important; height:auto !important; margin:0 !important;}
.explore-black{float:left; font-family:Arial, Helvetica, sans-serif !important;  font-size:15px !important; color:#000000 !important; text-transform:none !important; height:auto !important; margin:5px 0 0 0 !important; width:470px !important; line-height:20px !important;  }


.exp-list{float:left; width:150px;}
.exp-list ul{list-style-type:none; float:left; margin:0 0 0 3px;}
.exp-list ul li{float:left; background:url(../images/geen-arrow.png) left 9px no-repeat; padding:0 0 0 20px;}
.exp-list li a{float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; width:150px; text-decoration:none; padding:4px 0 4px 0; }
.exp-list li a:hover{color:#ffffff; font-weight:bold;}


/* sign up form */
.login2{float:left; background:#f3f3f3; width:725px; height:790px;}
.user-text1{float:left; background:url(../images/text-field.png) top left no-repeat; width:400px; height:54px;}
.user1{float:left; padding:0 0 0 3px;  height:54px; width:340px; border:none; outline:none; background:transparent; color:#bbbaba; font-family:Arial, Helvetica, sans-serif; font-size:16px;  *padding:15px 0 0 3px;}

.user-pass1{float:left; background:url(../images/text-field.png) top left no-repeat; width:400px; height:54px;}
.pass1{float:left; color:#bbbaba; font-family:Arial, Helvetica, sans-serif; font-size:22px !important; height:54px; width:340px; background:transparent; border:none; outline:none; font-size:14px; padding:0 0 0 3px; *padding:15px 0 0 3px;}
.login-bt2{float:left; background:url(../images/sign-up.png) top left no-repeat; width:115px; height:45px; cursor:pointer; border:none; outline:none; margin:20px 0 0 0;  padding:0 0 20px 0;}


/* category */


.high_li_part1300{float:left; width:1000px; margin-top:15px; margin-left:25px;}

.cat{float:left; width:500px; margin-right:40px; height:auto; background:url(../images/cat-bg.png) top left repeat; padding:10px; border:1px solid #CCCCCC;}

.slider-data{float:left; width:1000px;}
.slider1{float:left; width:1000px; margin:10px 0 5px 0;}
.slider1 ul{list-style-type:none;}
.slider1 ul li{float:left; width:208px; height:300px; background:url(../images/slider-li-bg.png) top left no-repeat; margin-right:12px; margin-left:12px;}
.meg-img{float:left; padding:7px;}
.slider1 ul li:hover{background:url(../images/slider-li-bg.png) top left no-repeat;}
.arrow-left{float:left; position:relative; top:110px;}
.arrow-right{float:right; position:relative; top:110px; *top:110px; *left:-7px;}

.meg-name{float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#999999; font-style:italic; padding:5px 0 3px 0; }

.price{float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#999999; padding:2px 0 0px 0;}

.view{float:right; text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333; padding:0; margin:0; position:relative; top:11px; *top:-18px; text-transform:none;}


/* detail */

.category{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#53ac0b; padding:0 0 5px 0;}
.category span{color:#666666;}

.meg-detail{float:left; width:1000px; margin-left:25px;}
.meg-slider{float:left; background:url(../images/meg-slider-bg.png) top left repeat-x; border:1px solid #CCCCCC;}

.meg-big{float:left; width:330px; background:url(../images/ngp-bg.png) top left no-repeat; padding:5px; margin:22px; height:475px; }
.meg-book{float:left; padding:2px 0 0 4px;}


.meg-line{float:left; margin-top:20px; margin-right:20px;}

.meg-thumb{float:left; margin-top:15px; margin-right:20px; margin-left:3px; width:92px;}

.meg-thumb ul{list-style-type:none; text-align:center; margin-top:5px;}
.meg-thumb ul li{float:left; background:url(../images/meg-thumb-box.png) top left no-repeat; width:90px; height:116px;} 
.meg-thumb li a{padding:1px 0 0 4px; float:left;}

.meg-contain{float:left; width:400px; margin-left:40px;}
.bottom-title{margin:0; padding:0; text-transform:uppercase; font-size:13px;}
.meg-p{float:left; width:333px; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#999999; padding-top:5px;}

.meg-price{float:left; width:400px; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase; color:#3eb832; padding:17px 0 17px 0;}

.meg-leb{float:left; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:6px 10px 0 0; width:100px;}

.meg-form{float:left; width:300px;}

.green-ngo{float:left; padding:10px 0 0 10px; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase; color:#5ac11a; }

.available{float:left; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:#666666; padding:15px 0 15px 0;}

.subscribe{float:left; padding:20px 0 10px 0; width:400px;}

.issue-price{float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; font-weight:bold; font-style:italic; text-transform:uppercase;}
.issue-price span{font-style:normal;}

.login-click:hover > .raw2{display:block;}

.selected{float:left; background:url(../images/login-hove.png) center left no-repeat; color:#666666; width:50px; height:30px; margin:0 0 0 5px;}
.selected a{color:#999999 !important;}

.av-img{float:left; border:none; outline:none;}
.av-img a{border:none; outline:none; color:#ffffff;}

/*sub-category*/

.lifestyle-slider{
 float:left; width:1000px; margin:0px 0 40px 0;}
.lifestyle-slider ul{list-style-type:none;}
.lifestyle-slider li{float:left; width:208px; height:300px;  margin-right:12px;   margin-left:12px;}
.outlook-img{float:left; padding:7px;}
.lifestyle-slider ul li:hover{background:none;}


.showmorw{
	width:200px;
	margin:0 auto;
	background:#fff;
	border:#CCCCCC solid 1px;;
	
	font-size:13px;
	text-align:center;
	padding:8px 0px 8px 0px;
	color:#669999;
	cursor:pointer;
	margin-top:40px;
	}
.red-style{
width:355px;
float:left;
background:#7a1413;
height:68px;
margin:0px 0px 0px 25px;
font-size:26px;
color:#FFFFFF;
text-align:center;
padding-top: 48px;
padding-bottom:9px;

}
.clear{clear:both;}


/* A/C Setting */

.account{width:957px; margin:0 auto; background:#fff; border:solid #d6d6d6 2px; margin-top:190px;min-height:670px;margin-bottom: 40px;}
.left_part{width:332px; float:left; background:#FFF; border-right: solid 1px #d6d6d6;min-height:670px;}
.left_part h4{font-size:17px; color:#333333; text-transform:uppercase;padding: 29px 0px 7px 22px; font-weight:normal;}
.left_part li{list-style:none; padding:10px 0px 10px 3px;border-bottom:solid 1px #d6d6d6;}
.left_part li.last{border-bottom:none;}
.left_part li a{text-decoration:none; font-size:13px; color:#000000;padding: 10px 0px 10px 21px;}
.left_part li:hover{text-decoration:none; font-size:12px; color:#555333; padding: padding:10px 0px 10px 21px; background:#dddddd;}
.left_part li.active{text-decoration:none; font-size:12px; color:#333333; padding: padding:10px 0px 10px 21px; background:#dddddd;}

.right_part{width:579px; float:right; background:#FFF; padding:30px 20px 0px 20px;}
.profile{float:left; width:579px; border-bottom:solid 1px #d6d6d6;}
.details{font-size:17px; color:#53ac0b; text-transform:uppercase;padding: 0px 0px 0px 0px; float:left;width: 176px;}
.edit a{font-size:12px; color:#53ac0b;padding: 0px 14px 0px 0px; float:right;width: 60px; display:inline-block; text-align:right; text-decoration:none;}
.intro{width:579px; float:left; margin-top:40px;margin-bottom: 40px;}
.intro_left{width:179px; float:left;}
.intro_left p{font-size:12px; color:#666; padding:0px 0px 20px 0px;}
.intro_right{width:400px; float:right; text-align:left;}
.intro_right p{font-size:12px; color:#666; padding:0px 0px 20px 0px;}
.facebook{width:350px; float:left; margin-top:15px;margin-bottom: 41px;}
.facebook p{font-size:12px; color:#069;padding: 5px 0px 0px 0px;}
.facebook p a{font-size:12px; color:#069; text-decoration:none; cursor:pointer;}
.facebook p span{font-size:12px; color:#53ac0b;}
.iconface{float:left;padding: 5px 7px 0px 0px;}

.signin{width:579px; float:left; margin-top:40px;margin-bottom: 20px;}
.signin_left{width:179px; float:left;}
.signin_left p{font-size:12px; color:#666; padding:7px 0px 5px 0px;}
.inputbox{width:223px; border:solid #d6d6d6 1px;background-color: #e8e8e8;
height: 28px;margin-bottom: 15px;}
.savebatan{width:288px; float:right; font-size:12px; color:#fff;  text-transform:uppercase; text-align:center;}
.savebatan a{width:97px; text-decoration:none; float:left; background:url(../images/save-changes.png); font-size:12px; color:#fff;  padding: 23px 9px; text-transform:uppercase; text-align:center;}


.selected1{float:left; background: none; color:#666666; width:50px; height:30px; margin:0 0 0 5px;}
.selected1 a{color:white !important;}
.right_login{ width:auto; float:left; padding:0 2px 0 0;}
.right_login a{ color: #FFFFFF; float: left; font-size: 14px; line-height: 44px; margin: 0 4px; text-decoration: none; text-transform: uppercase;}

.right_login1 ul{list-style-type:none; width:300px; margin:0 0 0 25px; position:relative; left:70px; top:-10px; }
.right_login1 ul li{float:left; margin:0; padding:20px 0 20px 0; width:70px;}
.right_login1 ul li ul{display:none;}
.right_login1 li a{float:left; color:#ffffff; background:none !important;}
.right_login1 li a:focus{float:left; color:#CCCCCC;}
.right_login1 ul li:hover > ul {display:block;}
.right_login1 ul li ul{float:left; position:relative; left:-21px; top:-33px; z-index:1000;}
.lab21{color:#333333;float:left; width:300px;} 

/*
change-css

*/



.left
{

width:960px;
text-align:left;
margin:0 auto;
background:#FFFFFF;
display:table;
position:relative;
}

.left-images
{
width:192px;
float:left;
text-align:left;
margin-top:40px;
margin-left:20px;
}

.right1
{
width:350px;
float:left;
text-align:left;
position:relative;
border:1px solid #666666;
margin-top:45px;
margin-left:30%;
padding-bottom:20px;
 border-radius: 5px 5px 5px 5px;
 behavior: url(PIE.htc); z-index:2; position:relative; 
}

.right-top-hdr
{

width:100%;
float:left;
text-align:left;


}
.right-top-hdr p
{
width:90%;
float:left;
text-align:left;
margin-left:20px;
margin-top:10px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;

}

.right-top-hdr h4
{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:Green;
margin-left:20px;
margin-top:10px;
float:left;
}

.button1
{
width:120px; 
float:left;
text-align:center;
background:url(../images/Untitled-2_03.png) repeat-x left top;
margin-left:20px;
margin-top:20px;
-webkit-border-radius :5px 5px 5px 5px; border-radius :5px 5px 5px 5px;
border-bottom:1px solid #133800;
border-right:1px solid #133800;
border-top:1px solid #8ca77f;
border-left:1px solid #8ca77f;
 border-radius: 5px 5px 5px 5px;
 behavior: url(PIE.htc); z-index:2; position:relative; 

}
.button1 a
{
width:auto;
padding-left:10px 10px 10px 10px;
line-height:40px;
font-family:"Helvetica Neue", Arial, Verdana;
text-decoration:none;
font-size:15px;
color:white;
font-weight:bold;
}



